main {
    padding-top: 25px;
    padding-bottom: 25px;
}

#header-image {
    width: 125px;
}

footer {
    margin-top: 0;
    padding: 10px;
    text-align: center;
    font-size: 0.75em;
    background-color: #343a40;
    color: rgba(255, 255, 255, 0.5);
}

.footer{
    position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

body {
    font-size: 1.5em;
    background-color: #918E80;
}

a {
    text-decoration: none;
    color: #212529;
}

a:hover {
    text-decoration: none;
    color: #606366;
}

#navbar a:hover, .nav-link {
    text-decoration: none;
}

.container {
    @media (max-width: 480px;) {width:100%;};
    @media (min-width: 481px;) {width:70%;};
    background-color: rgba(255,255,255,1);
    padding: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 8px;
}

.social-icon {
    width: 25px;
    margin: 25px;
}

.img-fluid {
    width: auto;
    height: 300px;
}

.home-title {
    text-align: center;
}

.background-images {
    width: 100%;
}